interactions:
- request:
    body: '{"labels": ["MockTest01", "MockTest02"]}'
    headers:
    method: POST
    uri: https://api.github.com/repos/Preocts/gitclient_test/issues/8/labels
  response:
    body:
      string: '[{"id":3176238155,"node_id":"MDU6TGFiZWwzMTc2MjM4MTU1","url":"https://api.github.com/repos/Preocts/gitclient_test/labels/MockTest01","name":"MockTest01","color":"ededed","default":false,"description":null},{"id":3176238156,"node_id":"MDU6TGFiZWwzMTc2MjM4MTU2","url":"https://api.github.com/repos/Preocts/gitclient_test/labels/MockTest02","name":"MockTest02","color":"ededed","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"ad97dd58633110d5de987ea484b1c2a788a57db3c73a157d17f152033b12a87b"'
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4994'
      X-RateLimit-Reset:
      - '1626500291'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '6'
    status:
      code: 200
      message: OK
version: 1
