interactions:
- request:
    body: '{"base_tree": "08746b8758f3f2047ab3720a5b1b457dfb7f11bf", "owner": "Preocts",
      "repo": "gitclient_test", "tree": [{"path": "file01.txt", "mode": "100644",
      "type": "blob", "sha": "e5b064423801f1397792727eb6d25dfb0552cea7"}, {"path":
      "file02.txt", "mode": "100644", "type": "blob", "sha": "0257d4d2d3d5f1acf80e7d1832274b76865bbab9"}]}'
    headers:
    method: POST
    uri: https://api.github.com/repos/Preocts/gitclient_test/git/trees
  response:
    body:
      string: '{"sha":"b52e7bad122209b1c11d27c5eaf84e99e513ef65","url":"https://api.github.com/repos/Preocts/gitclient_test/git/trees/b52e7bad122209b1c11d27c5eaf84e99e513ef65","tree":[{"path":"README.md","mode":"100644","type":"blob","sha":"60190af4ab90aa4bd552ebaa3f1d2f15be473e60","size":40,"url":"https://api.github.com/repos/Preocts/gitclient_test/git/blobs/60190af4ab90aa4bd552ebaa3f1d2f15be473e60"},{"path":"file01.txt","mode":"100644","type":"blob","sha":"e5b064423801f1397792727eb6d25dfb0552cea7","size":31,"url":"https://api.github.com/repos/Preocts/gitclient_test/git/blobs/e5b064423801f1397792727eb6d25dfb0552cea7"},{"path":"file02.txt","mode":"100644","type":"blob","sha":"0257d4d2d3d5f1acf80e7d1832274b76865bbab9","size":7,"url":"https://api.github.com/repos/Preocts/gitclient_test/git/blobs/0257d4d2d3d5f1acf80e7d1832274b76865bbab9"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"1be206d461ee15ce0980d46b26504239a451f5c200355eaaa97a95bca6dfea3b"'
      Location:
      - https://api.github.com/repos/Preocts/gitclient_test/git/trees/b52e7bad122209b1c11d27c5eaf84e99e513ef65
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4985'
      X-RateLimit-Reset:
      - '1626496359'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '15'
    status:
      code: 201
      message: Created
version: 1
