interactions:
- request:
    body: '{"owner": "Preocts", "repo": "gitclient_test", "content": "There once was
      a tree on a hill", "encoding": "utf-8"}'
    headers:
    method: POST
    uri: https://api.github.com/repos/Preocts/gitclient_test/git/blobs
  response:
    body:
      string: '{"sha":"e5b064423801f1397792727eb6d25dfb0552cea7","url":"https://api.github.com/repos/Preocts/gitclient_test/git/blobs/e5b064423801f1397792727eb6d25dfb0552cea7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"117a91e8ff9837e832b4208716380b0eb9fa3453553bc5a2f5fc6c23510a12b7"'
      Location:
      - https://api.github.com/repos/Preocts/gitclient_test/git/blobs/e5b064423801f1397792727eb6d25dfb0552cea7
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4987'
      X-RateLimit-Reset:
      - '1626496359'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '13'
    status:
      code: 201
      message: Created
- request:
    body: '{"owner": "Preocts", "repo": "gitclient_test", "content": "The end", "encoding":
      "utf-8"}'
    headers:
    method: POST
    uri: https://api.github.com/repos/Preocts/gitclient_test/git/blobs
  response:
    body:
      string: '{"sha":"0257d4d2d3d5f1acf80e7d1832274b76865bbab9","url":"https://api.github.com/repos/Preocts/gitclient_test/git/blobs/0257d4d2d3d5f1acf80e7d1832274b76865bbab9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c8ec4606a98fb59526007697b0cd3e2165994b88602d2faa18c0c8b05f2873f4"'
      Location:
      - https://api.github.com/repos/Preocts/gitclient_test/git/blobs/0257d4d2d3d5f1acf80e7d1832274b76865bbab9
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4986'
      X-RateLimit-Reset:
      - '1626496359'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '14'
    status:
      code: 201
      message: Created
version: 1
