interactions:
- request:
    body: '{"owner": "Preocts", "repo": "gitclient_test", "title": "Auto PR", "head":
      "main2", "base": "main", "body": "PR Auto Generated", "maintainer_can_modify":
      true}'
    headers:
    method: POST
    uri: https://api.github.com/repos/Preocts/gitclient_test/pulls
  response:
    body:
      string: '{"url":"https://api.github.com/repos/Preocts/gitclient_test/pulls/8","id":691843206,"node_id":"MDExOlB1bGxSZXF1ZXN0NjkxODQzMjA2","html_url":"https://github.com/Preocts/gitclient_test/pull/8","diff_url":"https://github.com/Preocts/gitclient_test/pull/8.diff","patch_url":"https://github.com/Preocts/gitclient_test/pull/8.patch","issue_url":"https://api.github.com/repos/Preocts/gitclient_test/issues/8","number":8,"state":"open","locked":false,"title":"Auto
        PR","user":{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":"https://api.github.com/users/Preocts/gists{/gist_id}","starred_url":"https://api.github.com/users/Preocts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Preocts/subscriptions","organizations_url":"https://api.github.com/users/Preocts/orgs","repos_url":"https://api.github.com/users/Preocts/repos","events_url":"https://api.github.com/users/Preocts/events{/privacy}","received_events_url":"https://api.github.com/users/Preocts/received_events","type":"User","site_admin":false},"body":"PR
        Auto Generated","created_at":"2021-07-17T05:08:20Z","updated_at":"2021-07-17T05:08:20Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/Preocts/gitclient_test/pulls/8/commits","review_comments_url":"https://api.github.com/repos/Preocts/gitclient_test/pulls/8/comments","review_comment_url":"https://api.github.com/repos/Preocts/gitclient_test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/Preocts/gitclient_test/issues/8/comments","statuses_url":"https://api.github.com/repos/Preocts/gitclient_test/statuses/4e51a63f07f40f59823d35b0b9fe019ddfd6357b","head":{"label":"Preocts:main2","ref":"main2","sha":"4e51a63f07f40f59823d35b0b9fe019ddfd6357b","user":{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":"https://api.github.com/users/Preocts/gists{/gist_id}","starred_url":"https://api.github.com/users/Preocts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Preocts/subscriptions","organizations_url":"https://api.github.com/users/Preocts/orgs","repos_url":"https://api.github.com/users/Preocts/repos","events_url":"https://api.github.com/users/Preocts/events{/privacy}","received_events_url":"https://api.github.com/users/Preocts/received_events","type":"User","site_admin":false},"repo":{"id":354448869,"node_id":"MDEwOlJlcG9zaXRvcnkzNTQ0NDg4Njk=","name":"gitclient_test","full_name":"Preocts/gitclient_test","private":false,"owner":{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":"https://api.github.com/users/Preocts/gists{/gist_id}","starred_url":"https://api.github.com/users/Preocts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Preocts/subscriptions","organizations_url":"https://api.github.com/users/Preocts/orgs","repos_url":"https://api.github.com/users/Preocts/repos","events_url":"https://api.github.com/users/Preocts/events{/privacy}","received_events_url":"https://api.github.com/users/Preocts/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Preocts/gitclient_test","description":"Just
        a testing grounds","fork":false,"url":"https://api.github.com/repos/Preocts/gitclient_test","forks_url":"https://api.github.com/repos/Preocts/gitclient_test/forks","keys_url":"https://api.github.com/repos/Preocts/gitclient_test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Preocts/gitclient_test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Preocts/gitclient_test/teams","hooks_url":"https://api.github.com/repos/Preocts/gitclient_test/hooks","issue_events_url":"https://api.github.com/repos/Preocts/gitclient_test/issues/events{/number}","events_url":"https://api.github.com/repos/Preocts/gitclient_test/events","assignees_url":"https://api.github.com/repos/Preocts/gitclient_test/assignees{/user}","branches_url":"https://api.github.com/repos/Preocts/gitclient_test/branches{/branch}","tags_url":"https://api.github.com/repos/Preocts/gitclient_test/tags","blobs_url":"https://api.github.com/repos/Preocts/gitclient_test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Preocts/gitclient_test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Preocts/gitclient_test/git/refs{/sha}","trees_url":"https://api.github.com/repos/Preocts/gitclient_test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Preocts/gitclient_test/statuses/{sha}","languages_url":"https://api.github.com/repos/Preocts/gitclient_test/languages","stargazers_url":"https://api.github.com/repos/Preocts/gitclient_test/stargazers","contributors_url":"https://api.github.com/repos/Preocts/gitclient_test/contributors","subscribers_url":"https://api.github.com/repos/Preocts/gitclient_test/subscribers","subscription_url":"https://api.github.com/repos/Preocts/gitclient_test/subscription","commits_url":"https://api.github.com/repos/Preocts/gitclient_test/commits{/sha}","git_commits_url":"https://api.github.com/repos/Preocts/gitclient_test/git/commits{/sha}","comments_url":"https://api.github.com/repos/Preocts/gitclient_test/comments{/number}","issue_comment_url":"https://api.github.com/repos/Preocts/gitclient_test/issues/comments{/number}","contents_url":"https://api.github.com/repos/Preocts/gitclient_test/contents/{+path}","compare_url":"https://api.github.com/repos/Preocts/gitclient_test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Preocts/gitclient_test/merges","archive_url":"https://api.github.com/repos/Preocts/gitclient_test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Preocts/gitclient_test/downloads","issues_url":"https://api.github.com/repos/Preocts/gitclient_test/issues{/number}","pulls_url":"https://api.github.com/repos/Preocts/gitclient_test/pulls{/number}","milestones_url":"https://api.github.com/repos/Preocts/gitclient_test/milestones{/number}","notifications_url":"https://api.github.com/repos/Preocts/gitclient_test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Preocts/gitclient_test/labels{/name}","releases_url":"https://api.github.com/repos/Preocts/gitclient_test/releases{/id}","deployments_url":"https://api.github.com/repos/Preocts/gitclient_test/deployments","created_at":"2021-04-04T03:43:37Z","updated_at":"2021-04-04T03:43:40Z","pushed_at":"2021-07-17T04:53:35Z","git_url":"git://github.com/Preocts/gitclient_test.git","ssh_url":"git@github.com:Preocts/gitclient_test.git","clone_url":"https://github.com/Preocts/gitclient_test.git","svn_url":"https://github.com/Preocts/gitclient_test","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":0,"open_issues":1,"watchers":0,"default_branch":"main"}},"base":{"label":"Preocts:main","ref":"main","sha":"08746b8758f3f2047ab3720a5b1b457dfb7f11bf","user":{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":[...]
