interactions:
- request:
    body: '{"message": "Hot new commit", "author": {"name": "Preocts", "email": "Preocts@example.com"},
      "parents": ["08746b8758f3f2047ab3720a5b1b457dfb7f11bf"], "tree": "b52e7bad122209b1c11d27c5eaf84e99e513ef65"}'
    headers:
    method: POST
    uri: https://api.github.com/repos/Preocts/gitclient_test/git/commits
  response:
    body:
      string: '{"sha":"4e51a63f07f40f59823d35b0b9fe019ddfd6357b","node_id":"MDY6Q29tbWl0MzU0NDQ4ODY5OjRlNTFhNjNmMDdmNDBmNTk4MjNkMzViMGI5ZmUwMTlkZGZkNjM1N2I=","url":"https://api.github.com/repos/Preocts/gitclient_test/git/commits/4e51a63f07f40f59823d35b0b9fe019ddfd6357b","html_url":"https://github.com/Preocts/gitclient_test/commit/4e51a63f07f40f59823d35b0b9fe019ddfd6357b","author":{"name":"Preocts","email":"Preocts@example.com","date":"2021-07-17T04:38:11Z"},"committer":{"name":"Preocts","email":"Preocts@example.com","date":"2021-07-17T04:38:11Z"},"tree":{"sha":"b52e7bad122209b1c11d27c5eaf84e99e513ef65","url":"https://api.github.com/repos/Preocts/gitclient_test/git/trees/b52e7bad122209b1c11d27c5eaf84e99e513ef65"},"message":"Hot
        new commit","parents":[{"sha":"08746b8758f3f2047ab3720a5b1b457dfb7f11bf","url":"https://api.github.com/repos/Preocts/gitclient_test/git/commits/08746b8758f3f2047ab3720a5b1b457dfb7f11bf","html_url":"https://github.com/Preocts/gitclient_test/commit/08746b8758f3f2047ab3720a5b1b457dfb7f11bf"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c1d001e587b1d3030cbfecbfa09345d4834b31d35103fba1a2887c2fced0b80f"'
      Location:
      - https://api.github.com/repos/Preocts/gitclient_test/git/commits/4e51a63f07f40f59823d35b0b9fe019ddfd6357b
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1626500291'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
    status:
      code: 201
      message: Created
version: 1
