interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.github.com/repos/Preocts/gitclient_test/branches/main
  response:
    body:
      string: '{"name":"main","commit":{"sha":"08746b8758f3f2047ab3720a5b1b457dfb7f11bf","node_id":"MDY6Q29tbWl0MzU0NDQ4ODY5OjA4NzQ2Yjg3NThmM2YyMDQ3YWIzNzIwYTViMWI0NTdkZmI3ZjExYmY=","commit":{"author":{"name":"Preocts","email":"preocts@gmail.com","date":"2021-04-04T03:43:38Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2021-04-04T03:43:38Z"},"message":"Initial
        commit","tree":{"sha":"84cfee8c758b05d2384fdd16f12ad284d06c4fbd","url":"https://api.github.com/repos/Preocts/gitclient_test/git/trees/84cfee8c758b05d2384fdd16f12ad284d06c4fbd"},"url":"https://api.github.com/repos/Preocts/gitclient_test/git/commits/08746b8758f3f2047ab3720a5b1b457dfb7f11bf","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJgaTXqCRBK7hj4Ov3rIwAAdHIIAIo/KED3nPSRtXym61ZlVR4E\nc9g+I9xM051ERC1L1oIXZ3MkXXETc3OMBqkpDENrjoo1kiWm0Ru2iTuwQ2jGdVi2\n6a7zrqItjhG4XcgSeFFxU43MRBMWVjjxIyqh2LX3+/UAhzimBS/dMw8eqiFb9N5N\n6+DCIA1Q5ZsLQpq0xSETpIabIu6B7cZoiGGlZnBV0txovmEsfb6jG3z/oK+fKm3S\nf6zwWglB6OQDvZF84v2+vOc3DCd7g9vvAPwWEA2wAoSaWFZndhQ47C/y7v7Gacuq\n4gP0pnch3/Mdm23Sxhtpm6KX3quT3FWqKHXiLAoyDSfHrQiIFXWBghIGyF6I33Y=\n=Q5BI\n-----END
        PGP SIGNATURE-----\n","payload":"tree 84cfee8c758b05d2384fdd16f12ad284d06c4fbd\nauthor
        Preocts <preocts@gmail.com> 1617507818 -0400\ncommitter GitHub <noreply@github.com>
        1617507818 -0400\n\nInitial commit"}},"url":"https://api.github.com/repos/Preocts/gitclient_test/commits/08746b8758f3f2047ab3720a5b1b457dfb7f11bf","html_url":"https://github.com/Preocts/gitclient_test/commit/08746b8758f3f2047ab3720a5b1b457dfb7f11bf","comments_url":"https://api.github.com/repos/Preocts/gitclient_test/commits/08746b8758f3f2047ab3720a5b1b457dfb7f11bf/comments","author":{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":"https://api.github.com/users/Preocts/gists{/gist_id}","starred_url":"https://api.github.com/users/Preocts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Preocts/subscriptions","organizations_url":"https://api.github.com/users/Preocts/orgs","repos_url":"https://api.github.com/users/Preocts/repos","events_url":"https://api.github.com/users/Preocts/events{/privacy}","received_events_url":"https://api.github.com/users/Preocts/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[]},"_links":{"self":"https://api.github.com/repos/Preocts/gitclient_test/branches/main","html":"https://github.com/Preocts/gitclient_test/tree/main"},"protected":false,"protection":{"enabled":false,"required_status_checks":{"enforcement_level":"off","contexts":[]}},"protection_url":"https://api.github.com/repos/Preocts/gitclient_test/branches/main/protection"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"1f0e23d75cb9bdc950fb47b280d9bc9e8c969dfe1be127b02be568d3b44e6fdb"'
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4991'
      X-RateLimit-Reset:
      - '1626237898'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '9'
    status:
      code: 200
      message: OK
version: 1
