interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/users/Preocts
  response:
    body:
      string: '{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":"https://api.github.com/users/Preocts/gists{/gist_id}","starred_url":"https://api.github.com/users/Preocts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Preocts/subscriptions","organizations_url":"https://api.github.com/users/Preocts/orgs","repos_url":"https://api.github.com/users/Preocts/repos","events_url":"https://api.github.com/users/Preocts/events{/privacy}","received_events_url":"https://api.github.com/users/Preocts/received_events","type":"User","site_admin":false,"name":"Preocts","company":null,"blog":"","location":"The
        Internet","email":"preocts@gmail.com","hireable":null,"bio":"Programmer, Engineer,
        and all-around curious mind.  Python is my playground, though programming
        has no borders.  (he/him)","twitter_username":"preocts","public_repos":21,"public_gists":1,"followers":7,"following":7,"created_at":"2015-07-19T18:55:53Z","updated_at":"2021-07-11T04:29:44Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a6796e90bc269016cbec4f7bb4bba78014cfb8bdfa4e1e859d9881c526276eb0"'
      Last-Modified:
      - Sun, 11 Jul 2021 04:29:44 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4984'
      X-RateLimit-Reset:
      - '1625981873'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '16'
    status:
      code: 200
      message: OK
version: 1
