interactions:
- request:
    body: '{"description": "Unit test", "files": {"unittest.md": {"content": "# Egg"}},
      "public": true}'
    headers:
    method: POST
    uri: https://api.github.com/gists
  response:
    body:
      string: '{"url":"https://api.github.com/gists/da690a72bc676296b5be26655dcd50fc","forks_url":"https://api.github.com/gists/da690a72bc676296b5be26655dcd50fc/forks","commits_url":"https://api.github.com/gists/da690a72bc676296b5be26655dcd50fc/commits","id":"da690a72bc676296b5be26655dcd50fc","node_id":"MDQ6R2lzdGRhNjkwYTcyYmM2NzYyOTZiNWJlMjY2NTVkY2Q1MGZj","git_pull_url":"https://gist.github.com/da690a72bc676296b5be26655dcd50fc.git","git_push_url":"https://gist.github.com/da690a72bc676296b5be26655dcd50fc.git","html_url":"https://gist.github.com/da690a72bc676296b5be26655dcd50fc","files":{"unittest.md":{"filename":"unittest.md","type":"text/markdown","language":"Markdown","raw_url":"https://gist.githubusercontent.com/Preocts/da690a72bc676296b5be26655dcd50fc/raw/390226c3f86316595cd5439169b5a19099851c38/unittest.md","size":5,"truncated":false,"content":"#
        Egg"}},"public":true,"created_at":"2021-07-11T05:07:48Z","updated_at":"2021-07-11T05:07:48Z","description":"Unit
        test","comments":0,"user":null,"comments_url":"https://api.github.com/gists/da690a72bc676296b5be26655dcd50fc/comments","owner":{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":"https://api.github.com/users/Preocts/gists{/gist_id}","starred_url":"https://api.github.com/users/Preocts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Preocts/subscriptions","organizations_url":"https://api.github.com/users/Preocts/orgs","repos_url":"https://api.github.com/users/Preocts/repos","events_url":"https://api.github.com/users/Preocts/events{/privacy}","received_events_url":"https://api.github.com/users/Preocts/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":"https://api.github.com/users/Preocts/gists{/gist_id}","starred_url":"https://api.github.com/users/Preocts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Preocts/subscriptions","organizations_url":"https://api.github.com/users/Preocts/orgs","repos_url":"https://api.github.com/users/Preocts/repos","events_url":"https://api.github.com/users/Preocts/events{/privacy}","received_events_url":"https://api.github.com/users/Preocts/received_events","type":"User","site_admin":false},"version":"7cbeea15daf63478a0c3c1bf4fb89d7914441183","committed_at":"2021-07-11T05:07:48Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/da690a72bc676296b5be26655dcd50fc/7cbeea15daf63478a0c3c1bf4fb89d7914441183"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"ce51c88c1cb527babaa1e1cb579c429cd114ce321a9fb688191994b062e8b46f"'
      Location:
      - https://api.github.com/gists/da690a72bc676296b5be26655dcd50fc
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4983'
      X-RateLimit-Reset:
      - '1625981873'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '17'
    status:
      code: 201
      message: Created
version: 1
