interactions:
- request:
    body: '{"description": "Unit test", "files": {"unittest.md": {"content": "# Egg"}},
      "public": true}'
    headers:
    method: POST
    uri: https://api.github.com/gists
  response:
    body:
      string: '{"url":"https://api.github.com/gists/65bfa0748f4172f164308a392ba3783c","forks_url":"https://api.github.com/gists/65bfa0748f4172f164308a392ba3783c/forks","commits_url":"https://api.github.com/gists/65bfa0748f4172f164308a392ba3783c/commits","id":"65bfa0748f4172f164308a392ba3783c","node_id":"MDQ6R2lzdDY1YmZhMDc0OGY0MTcyZjE2NDMwOGEzOTJiYTM3ODNj","git_pull_url":"https://gist.github.com/65bfa0748f4172f164308a392ba3783c.git","git_push_url":"https://gist.github.com/65bfa0748f4172f164308a392ba3783c.git","html_url":"https://gist.github.com/65bfa0748f4172f164308a392ba3783c","files":{"unittest.md":{"filename":"unittest.md","type":"text/markdown","language":"Markdown","raw_url":"https://gist.githubusercontent.com/Preocts/65bfa0748f4172f164308a392ba3783c/raw/390226c3f86316595cd5439169b5a19099851c38/unittest.md","size":5,"truncated":false,"content":"#
        Egg"}},"public":true,"created_at":"2021-07-17T03:33:17Z","updated_at":"2021-07-17T03:33:17Z","description":"Unit
        test","comments":0,"user":null,"comments_url":"https://api.github.com/gists/65bfa0748f4172f164308a392ba3783c/comments","owner":{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":"https://api.github.com/users/Preocts/gists{/gist_id}","starred_url":"https://api.github.com/users/Preocts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Preocts/subscriptions","organizations_url":"https://api.github.com/users/Preocts/orgs","repos_url":"https://api.github.com/users/Preocts/repos","events_url":"https://api.github.com/users/Preocts/events{/privacy}","received_events_url":"https://api.github.com/users/Preocts/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"Preocts","id":13407322,"node_id":"MDQ6VXNlcjEzNDA3MzIy","avatar_url":"https://avatars.githubusercontent.com/u/13407322?v=4","gravatar_id":"","url":"https://api.github.com/users/Preocts","html_url":"https://github.com/Preocts","followers_url":"https://api.github.com/users/Preocts/followers","following_url":"https://api.github.com/users/Preocts/following{/other_user}","gists_url":"https://api.github.com/users/Preocts/gists{/gist_id}","starred_url":"https://api.github.com/users/Preocts/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Preocts/subscriptions","organizations_url":"https://api.github.com/users/Preocts/orgs","repos_url":"https://api.github.com/users/Preocts/repos","events_url":"https://api.github.com/users/Preocts/events{/privacy}","received_events_url":"https://api.github.com/users/Preocts/received_events","type":"User","site_admin":false},"version":"c8092afab51eff73925b9569139afb0694e3ce86","committed_at":"2021-07-17T03:33:17Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/65bfa0748f4172f164308a392ba3783c/c8092afab51eff73925b9569139afb0694e3ce86"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"650a9a8c6ef40293c05fa6059bf2e206980c17bc3c89bb208c742174f84e000d"'
      Location:
      - https://api.github.com/gists/65bfa0748f4172f164308a392ba3783c
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1626496359'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '4'
    status:
      code: 201
      message: Created
version: 1
