interactions:
- request:
    body: '{"ref": "refs/heads/main2", "sha": "4e51a63f07f40f59823d35b0b9fe019ddfd6357b"}'
    headers:
    method: POST
    uri: https://api.github.com/repos/Preocts/gitclient_test/git/refs/heads/main2
  response:
    body:
      string: '{"ref":"refs/heads/main2","node_id":"MDM6UmVmMzU0NDQ4ODY5OnJlZnMvaGVhZHMvbWFpbjI=","url":"https://api.github.com/repos/Preocts/gitclient_test/git/refs/heads/main2","object":{"sha":"4e51a63f07f40f59823d35b0b9fe019ddfd6357b","type":"commit","url":"https://api.github.com/repos/Preocts/gitclient_test/git/commits/4e51a63f07f40f59823d35b0b9fe019ddfd6357b"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c1925ccb5c56590d85effa7464117cb3f06bd1ba3f1f07f136417dffc2f2a748"'
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - gist, public_repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4998'
      X-RateLimit-Reset:
      - '1626500291'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '2'
    status:
      code: 200
      message: OK
version: 1
